__pycache__
reference
# latex files
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.fls
*.log
*.fdb_latexmk
*.snm
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.nav
*.vrb
# large files
*.png
*.csv
*.xlsx
